body {
	background-color: #e67e22;
	font-family: 'Open Sans', sans-serif;
}
.board {
	h1 {
		text-align: center;
		font-family: 'Gloria Hallelujah', cursive;
		font-size: 45px;
	}
	.create-column {
		text-align: center;
		color: #fff;
		margin-left: auto;
		margin-bottom: 50px;
		background-color: #25459b;
		border: 1px solid #25459b;
		padding: 15px 30px;
		border-radius: 50px;
		font-weight: 500;
		text-transform: uppercase;
		cursor: pointer;
		letter-spacing: 1px;

		&:hover {
			transition: .7s;
			color: #25459b;
			background-color: #fff;
			font-weight: 700;
			border: 1px solid #fff;
		}		
	}
	.btn {
		text-align: center;
	}
	.column-container {
		text-align: center;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		margin: 0 auto;
		  
	}
}

.column {
	display: inline-block;
	margin: 20px 80px;
	background: #DADED9;
	padding: 30px;
	border-radius: 25px;
	min-width: 250px;
	max-width: 250px;
	flex: 1;
	.btn-delete {
		background-color: #ff0700;
		color: #fff;
		border: 1px solid #ff0700; 
		cursor: pointer;
		padding: 0 5px;
		font-size: 18px;
		margin-left: 5px;
		border-radius: 50px;
	}
	.column-add-card {
		padding: 3px 15px;
		background-color: #25459b;
		border: 1px solid #25459b;
		font-size: 15px;
		cursor: pointer;
		color: #fff;
		border-radius: 50px;
		margin-left: 5px;
		&:hover {
			transition: .7s;
			color: #25459b;
			background-color: #fff;
			font-weight: 500;
			border: 1px solid #fff;
		}
	}
	h2 {
		font-family: 'Gloria Hallelujah', cursive;
		font-size: 40px;
	}	
	.add-card {
		padding: 3px 15px;
		background-color: #25459b;
		border: 1px solid #25459b;
		font-size: 15px;
		cursor: pointer;
		color: #fff;
		border-radius: 50px;
		margin-left: 5px;
		&:hover {
			transition: .7s;
			color: #25459b;
			background-color: #fff;
			font-weight: 500;
			border: 1px solid #fff;
		}
	}
	.edit-column {
		background-color: #e67e22;
		color: #fff;
		border: 1px solid #e67e22; 
		cursor: pointer;
		padding: 0 5px;
		font-size: 18px;
		margin-left: 5px;
		border-radius: 50px;
		i {
			font-size: 15px;
		}
	}
}
.card {
	margin-top: 40px;
	padding: 10px;
    background-color: #fff;
    cursor: move;
    border-radius: 10px;
	.card-description {
		font-weight: 600;
		font-size: 15px;
		margin-top: 5px;
    	margin-bottom: 0;
	}
	.edit-column {
		background-color: #e67e22;
	    color: #fff;
	    border: 1px solid #e67e22;
	    cursor: pointer;
	    padding: 0 5px;
	    font-size: 18px;
	    margin-left: 5px;
	    border-radius: 50px;
	    width: 25px;
	    height: 25px;
	    line-height: 20px;
	}
}

ul {
	list-style-type: none;
	padding-left: 0;
    list-style-type: none;
    padding-left: 0;
    min-height: 30px;
}

.column-container .column:nth-child(1) {
  background: #DADED9;
  order: 0;
}
.column-container .col:nth-child(2) {
  background: #DADED9;
  order: 1;
}
.column-container .col:nth-child(3) {
  background: #DADED9;
  order: 2;
}
.column-container .col:nth-child(4) {
  background: #DADED9;
  order: 3;
}
.column-container .col:nth-child(5) {
  background: #DADED9;
  order: 4;
}